<!DOCTYPE html>
<html>
  <head>
    <%- include('../../components/head') -%>

    <link rel="stylesheet" href="/css/investo.css" />

    <title>Kasane Investo</title>
    <meta name="description" content="kasane investo" />
    <meta
      property="og:description"
      content="INVEST in your favourite KASANE TETO songs using REAL POPULARITY DATA! Start with $500< and use INSIDER TRADING and MONEY LAUNDERING to get to the top of the LEADERBOARD!!!"
    />
    <meta property="og:title" content="kasane investo" />
  </head>
  <body class="investing">
    <%- include('../../components/titlebar') -%>

    <script>
      document.querySelector(`navigation .invest`).classList.add("selected");
    </script>

    <div id="nextUpdate">
      
    </div>
    <div id="money">
    </div>

    <div class="mainContentPad">
      <div class="center">
        <img src="/imgcompress/kasaneInvesto.avif" alt="Kasane Investo" style="max-width: 100%;">
      </div>
      <h1>How Kasane Investo works</h1>
      <p>Kasane Investo is a sharemarket game that has <b>stocks of Kasane Teto songs</b>, with the prices shifting according to <i>special data</i> every 10 minutes, linked to the song's real popularity.</p>
      <p><b>Each player starts with $500 in cash</b> and can start investing in stocks. Stocks can be bought with cash, and after they go up or down, can be sold for cash. You can make gains and losses by just returning the next day.</p>

      <h3>Spending</h3>
      <p>Each player can earn spending cash. This is cash in your account that you can spend, so as your net worth never dips below $500.
        <br>This is to prevent new accounts from spending too early. <b>If you have $450 in stocks, and $150 in cash, your net worth is $600, and can spend $100.</b>
        <br>You can spend this on:
      </p>
      <ul>
        <li><b>Gambling</b> at the slot machine</li>
        <li><b>Beers</b> at the pub</li>
        <li><b>Protesting</b> stocks to make them dip</li>
        <li><b>Accusing</b> other players of cheating</li>
        <li><b>Pumping</b> stocks and insider trading</li>
      </ul>

      <h3>Crime and punishments</h3>
      <p>The two acts that are CRIMES are pumping stocks and transferring cash to other players.</p>
      <p>Other players can go to the leaderboard and accuse you of committing a crime. If they get this correct, they confiscate all of your held cash, as well as stopping the crime.</p>
      <p>If you are caught, you also go to prison, where you cannot trade stocks and must roll a double or use a get out of jail card.</p>
    </div>

    <%- include('../../components/bottom') -%>
  </body>
</html>
