<!DOCTYPE html>
<html>
  <head>
    <%- include('../components/head') -%>

    <link rel="stylesheet" href="/css/investo.css" />

    <title>Kasane Investo</title>
    <meta name="description" content="kasane investo" />
    <meta
      property="og:description"
      content="INVEST in your favourite KASANE TETO songs using REAL POPULARITY DATA! Start with $500< and use INSIDER TRADING and MONEY LAUNDERING to get to the top of the LEADERBOARD!!!"
    />
    <meta property="og:title" content="kasane investo" />
  </head>
  <body class="investing">
    <%- include('../components/titlebar') -%>

    <script>
      document.querySelector(`navigation .invest`).classList.add("selected");
    </script>

    <div id="nextUpdate">
      
    </div>
    <div id="money">
    </div>

    <div class="mainContentPad">
      <div class="center">
        <img src="/img/kasaneInvesto.png" alt="Kasane Investo" style="max-width: 100%;">
        <p><b>BETA!!! BETA!!! LIKE I SHOULDN'T HAVE PUSHED TO PROD YET BUT I DID. HAHAHAHAHA.</b> we'll see how this goes.</p>
        <p>INVEST in your favourite KASANE TETO songs using <b><i>REAL</i></b> POPULARITY DATA!!</p>
        <p>Start with <b>$500</b> and use <i>INSIDER TRADING</i> and <i>MONEY LAUNDERING</i> to get to the top of the <a target="_blank" style="font-weight: 900;" href="/invest/leaderboard">LEADERBOARD!!!</a></p>
        <p>BORED whilst waiting for stock updates?? Open a new tab of <a target="_blank" href="/rank" style="font-weight: 900;">RANKING Kasane Teto songs!</a></p>
        <br>
      </div>

      <div class="investmentsHolder">
        <h1>LOADING...</h1>
      </div>
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/echarts.min.js"></script>
    <script src="/js/investHome.js"></script>

    <%- include('../components/bottom') -%>
  </body>
</html>
