<title>teto</title>

<link rel="stylesheet" href="/css/titlebar.css" />
<link rel="stylesheet" href="/css/font.css" />
<link rel="stylesheet" href="/css/silly.css" />
<link rel="stylesheet" href="/css/contentPlacement.css" />
<link rel="stylesheet" href="/css/footer.css" />
<link rel="stylesheet" href="/css/mediaQuery.css" />

<meta name="viewport" content="width=device-width, initial-scale=1.0" />