<navigation>
  <img src="/img/logo.webp" class="logo">

  <a href="/" class="mainPage">
    <img src="/img/titlebar/mainPage.webp" alt="main page">
  </a>
  <a href="/songs" class="songs">
    <img src="/img/titlebar/songs.webp" alt="songs">
  </a>
  <a href="/rank" class="rank">
    <img src="/img/titlebar/rank.webp" alt="rank">
  </a>
  <a href="/invest" class="invest">
    <img src="/img/titlebar/invest.webp" alt="invest">
  </a>
  <a href="https://tasteofartisan.com/french-baguette-recipe/">🥖</a>
</navigation>