<navigation>
  <img src="/imgcompress/logo.avif" class="logo">

  <a href="/" class="mainPage">
    <img src="/imgcompress/titlebar/mainPage.avif" alt="main page">
  </a>
  <a href="/songs" class="songs">
    <img src="/imgcompress/titlebar/songs.avif" alt="songs">
  </a>
  <a href="/rank" class="rank">
    <img src="/imgcompress/titlebar/rank.avif" alt="rank">
  </a>
  <a href="/invest" class="invest">
    <img src="/imgcompress/titlebar/invest.avif" alt="invest">
  </a>
  <!--
  <a href="/heardle" class="heardle">
    <img src="/imgcompress/titlebar/heardle.avif" alt="heardle">
  </a>
  -->
</navigation>